## 0. Tranformamos los datos a .csv

In [1]:
library(readxl)
library(tidyverse)

Warning message:
“package ‘readxl’ was built under R version 4.0.1”
Warning message:
“package ‘tidyverse’ was built under R version 4.0.1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tidyr’ was built under R version 4.0.1”
Warning message:
“package ‘readr’ was built under R version 4.0.1”
Warning message:
“package ‘dplyr’ was built under R version 4.0.1”
Warning message:
“package ‘forcats’ was built under R version 4.0.1”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
df_claves_xlsx <- read_excel('Claves_edomex.xlsx')
df_esc_xlsx <- read_excel('pob_total_e_esc_2020.xlsx')

In [3]:
write.csv(df_claves_xlsx, 'Claves_edomex.csv', row.names = FALSE)
write.csv(df_esc_xlsx, 'pob_total_e_esc_2020.csv', row.names = FALSE)

## 1. Limpiamos datos

Primero limpiamos los datos de Claves_edomex.csv, podemos ver que tiene comillas de sobra

In [4]:
df_claves_sucias <- read.csv('Claves_edomex.csv')
head(df_claves_sucias)

  CVEGEO   nom_mun
1 "15 001" "Acambay de Ruíz Castañeda"
2 "15 002" "Acolman"
3 "15 003" "Aculco"
4 "15 004" "Almoloya de Alquisiras"
5 "15 005" "Almoloya de Juárez"
6 "15 006" "Almoloya del Río"

Con esta funcion quitaremos esas comillas

In [5]:
quita_comillas <- function(nombre_municipio){
                        nombre_sin_comillas = substr(nombre_municipio, 2, nchar(nombre_municipio) - 1)
                        return(nombre_sin_comillas)
                  }

Aplicamos la funcion a las dos columnas

In [6]:
df_claves <- mutate(df_claves_sucias, nom_mun = quita_comillas(nom_mun), CVEGEO = quita_comillas(CVEGEO))
head(df_claves)

  CVEGEO nom_mun
1 15 001 Acambay de Ruíz Castañeda
2 15 002 Acolman
3 15 003 Aculco
4 15 004 Almoloya de Alquisiras
5 15 005 Almoloya de Juárez
6 15 006 Almoloya del Río

Agregamos la entrada para Mexico

In [7]:
df_claves <- rbind(df_claves, c('15', 'México'))

Usamos la columna nom_num como renglones

In [8]:
rownames(df_claves) <- df_claves[,'nom_mun']
head(df_claves)

                          CVEGEO nom_mun
Acambay de Ruíz Castañeda 15 001 Acambay de Ruíz Castañeda
Acolman                   15 002 Acolman
Aculco                    15 003 Aculco
Almoloya de Alquisiras    15 004 Almoloya de Alquisiras
Almoloya de Juárez        15 005 Almoloya de Juárez
Almoloya del Río          15 006 Almoloya del Río

Veamos como podemos llamar al CVEGEO dado el nom_num

In [14]:
df_claves['Aculco', 'CVEGEO']

[1] "15 003"

## 2. Aplicamos creamos CVEGEO con los nombres de los municipios

Leemos los datos

In [15]:
df_e_20 <- read.csv('pob_total_e_esc_2020.csv')
head(df_e_20)

  nom_mun edad   pob_tot  pob_h   pob_m
1 México  Total  16992418 8251295 8741123
2 México  3 Años   273092  137450  135642
3 México  4 Años   279161  140960  138201
4 México  5 Años   282358  143010  139348
5 México  6 Años   265854  134268  131586
6 México  7 Años   273393  138301  135092

Creamos la nueva columna de CVEGEO con los datos de las claves

In [11]:
df_e_20 <- mutate(df_e_20, CVEGEO = df_claves[nom_mun, 'CVEGEO'])
df_e_20

     nom_mun                   edad    pob_tot  pob_h   pob_m   CVEGEO
1    México                    Total   16992418 8251295 8741123 15
2    México                    3 Años    273092  137450  135642 15
3    México                    4 Años    279161  140960  138201 15
4    México                    5 Años    282358  143010  139348 15
5    México                    6 Años    265854  134268  131586 15
6    México                    7 Años    273393  138301  135092 15
7    México                    8 Años    289607  148372  141235 15
8    México                    9 Años    269920  135622  134298 15
9    México                    10 Años   305581  156125  149456 15
10   México                    11 Años   278245  141429  136816 15
11   México                    12 Años   301998  152833  149165 15
12   México                    13 Años   288284  145151  143133 15
13   México                    14 Años   290441  144838  145603 15
14   México                    15 Años   299577  151715  147862 15
15   México                    16 Años   283418  143020  140398 15
16   México                    17 Años   304197  154420  149777 15
17   México                    18 Años   317272  162144  155128 15
18   México                    19 Años   272201  136232  135969 15
19   México                    20 Años   317540  158609  158931 15
20   México                    21 Años   258728  130219  128509 15
21   México                    22 Años   292258  146258  146000 15
22   México                    23 Años   272601  135512  137089 15
23   México                    24 Años   274032  134860  139172 15
24   Acambay de Ruíz Castañeda Total      67872   32617   35255 15 001
25   Acambay de Ruíz Castañeda 3 Años      1314     665     649 15 001
26   Acambay de Ruíz Castañeda 4 Años      1330     647     683 15 001
27   Acambay de Ruíz Castañeda 5 Años      1341     659     682 15 001
28   Acambay de Ruíz Castañeda 6 Años      1336     638     698 15 001
29   Acambay de Ruíz Castañeda 7 Años      1311     697     614 15 001
30   Acambay de Ruíz Castañeda 8 Años      1412     740     672 15 001
⋮    ⋮                         ⋮       ⋮        ⋮       ⋮       ⋮
2869 Zumpahuacán               18 Años    413      217     196  15 119
2870 Zumpahuacán               19 Años    351      170     181  15 119
2871 Zumpahuacán               20 Años    386      208     178  15 119
2872 Zumpahuacán               21 Años    303      150     153  15 119
2873 Zumpahuacán               22 Años    330      150     180  15 119
2874 Zumpahuacán               23 Años    309      164     145  15 119
2875 Zumpahuacán               24 Años    300      133     167  15 119
2876 Zumpango                  Total   280455   136971  143484  15 120
2877 Zumpango                  3 Años    4811     2423    2388  15 120
2878 Zumpango                  4 Años    4915     2430    2485  15 120
2879 Zumpango                  5 Años    5084     2590    2494  15 120
2880 Zumpango                  6 Años    5325     2668    2657  15 120
2881 Zumpango                  7 Años    5514     2861    2653  15 120
2882 Zumpango                  8 Años    5728     2878    2850  15 120
2883 Zumpango                  9 Años    5479     2784    2695  15 120
2884 Zumpango                  10 Años   6028     2977    3051  15 120
2885 Zumpango                  11 Años   5611     2880    2731  15 120
2886 Zumpango                  12 Años   6195     3065    3130  15 120
2887 Zumpango                  13 Años   5623     2835    2788  15 120
2888 Zumpango                  14 Años   5716     2875    2841  15 120
2889 Zumpango                  15 Años   5581     2875    2706  15 120
2890 Zumpango                  16 Años   5151     2636    2515  15 120
2891 Zumpango                  17 Años   5283     2722    2561  15 120
2892 Zumpango                  18 Años   5358     2719    2639  15 120
2893 Zumpango                  19 Años   4447     2223    2224  15 120
2894 Zumpango                  20 Años   4874     2458    2416  15 120
2895 Zumpango                  21 Años   4121     2035    2086  15 120
2896 Zumpango                  22 Años   4212     2064    2148  15 120
2897 Zumpango                  23 Años   4001     1940    2061  15 120
2898 Zumpango                  24 Años   4047     1946    2101  15 120

Guardmos los datos en un csv

In [12]:
write.csv(df_e_20, 'pob_total_e_esc_2020_CVEGEO.csv', row.names = FALSE)